nav {
  i {
    padding-right: 10px;
  }
}

.navbar-inverse .navbar-nav {
  li {
    svg {
      margin-right: 10px;
    }
    a {
      color: $text-light-faint;
      border-color: #dedede;
    }
    a:hover {
      color: lighten($text-light-faint, 20%);

      svg .icon {
        fill: lighten($text-light-faint, 20%);
      }
    }
  }
}

.navbar-inverse {
  border-color: #f2f2f2;
}
