nav {
  i {
    padding-right: 10px;
  }
}

.navbar-inverse .navbar-nav {
  li a {
    color: $text-light-muted;
    &:hover {
      color: $text-light-faint;

    }
    border-color: #dedede;
  }
}

.navbar-inverse {
  border-color: #f2f2f2;
}
