.panel-default {
  border-color: #dedede;
  .panel-heading {
    font-size: 15px;
    font-weight: 400;
    color: #493e54;
    border-color: #dedede;
    background-image: linear-gradient(180deg, #fff 0, #fcfbfc);
  }
}
