nav {
  i {
    padding-right: 10px;
  }
}

.navbar-inverse .navbar-nav {
  li a {
    color: #8fa3a0;
    &:hover {
      color: #697176;

    }
    border-color: #dedede;
  }
}

.navbar-inverse {
  border-color: #f2f2f2;
}
