.text-light {
  color: #fff
}

.text-light-soft {

  color: $text-light-soft;
}

.text-light-muted {
  color: $text-light-muted
}

.text-light-faint {
  color: $text-light-faint
}

.text-dark {
  color: $text-dark;
}

.text-dark-soft {
  color: $text-dark-soft;
}

.text-dark-muted {
  color: $text-dark-muted;
}

.text-dark-faint {
  color: $text-dark-faint;
}

.text-danger {
  color: $text-danger;
}

.border-none {
  border: none;
}

// Helpers.
.cursor-pointer {
  cursor: pointer;
}
