// Variables
$text-light-soft: #ECECEE;
$text-light-muted: #A9AAAF;
$text-light-faint: #72737B;
$text-dark: #394644;
$text-dark-soft: #5c706d;
$text-dark-muted: #8fa3a0;
$text-dark-faint: #c7d1d0;
$text-danger: #e23c36;
