// Type colors.
$text-light-soft: #ECECEE;
$text-light-muted: #A9AAAF;
$text-light-faint: #6B6E74;
$text-dark: #3D3D3D;
$text-dark-soft: #5c706d;
$text-dark-muted: #8fa3a0;
$text-dark-faint: #c7d1d0;
$text-danger: #E23C3F;

// Active colors.
$color-primary: #3498db;
$color-success: #2ecc71;
$color-warning: #f1c40f;
$color-info: #1abc9c;
$color-danger: #e74c3c;


// background colors.

