// Type colors.
$text-light-soft: #ECECEE;
$text-light-muted: #A9AAAF;
$text-light-faint: #6B6E74;
$text-dark: #3D3D3D;
$text-dark-soft: #5c706d;
$text-dark-muted: #8fa3a0;
$text-dark-faint: #c7d1d0;
$text-danger: #E23C3F;

// Active colors.
$color-primary: #00A6F7;
$color-success: #00C94D;
$color-warning: #FFD800;
$color-info: #92E8E1;
$color-danger: #FF560A;


// background colors.

