body {
  background: white;
}

.border-thick {
  border-top: 8px solid #A2A9AF;
}

.nav {
  font-size: 1rem;
  margin-top: 15px;

  li a {
    color: inherit;

    &:hover {
      color: white;
      background: #A2A9AF;
    }
  }
}

.jumbo {
  margin: 0 auto;
  max-width: 70rem;
  padding: 25px;
}

p, ul {
  font-size: 1.2rem;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.25;
}

#offers {
  li {
    margin-bottom: 0.5rem;
  }
}
