html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  background: white;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 2.667em;
  font-weight: bold;
}

.border-thick {
  border-top: 6px solid #2C3E50;
}

.nav {
  font-size: 1rem;
  margin-top: 15px;

  li a {
    color: inherit;

    &:hover {
      color: white;
      background: #A2A9AF;
    }
  }
}

#header {
  height: 843px;
  border-bottom: 1px solid rgba(44, 62, 80, 0.19);
}

.jumbo {
  margin: 0 auto;
  max-width: 70rem;
  padding: 25px;
  color: white;
}

p, ul {
  font-size: 1.2rem;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.25;
}

#offers {
  li {
    margin-bottom: 0.5rem;
  }
}

// features

.feature-wrapper {
  padding: 50px 0;

  h2 {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.feature-soft-bg {
  background: #FDFDFD;
}

.icon-feature {
  width: 70px;
  height: 70px;
  float: left;
}

.description {
  margin-bottom: 35px;
  float: left;
  height: auto;
}

// Icons

$primary-color: #2ECC71;
$outline-color: adjust-color($primary-color, $saturation: -75%, $lightness: -26%);
$fill-color: adjust-color($primary-color, $saturation: -82%, $lightness: 50%);

.heroicon- {
  &outline {
    fill: $outline-color;
  }

  &component- {
    &fill {
      fill: $fill-color;
    }
    &accent {
      fill: $primary-color;
    }
  }

  &shadows {
    fill: $outline-color;
    opacity: .4;
  }
}

.text-headline {
  font-weight: bold;
  font-size: 1.417em;
  margin-top: 0;
}

.text-description {
  color: #6B6E74;
  font-size: 1.417em;
}

.text-lg {
  font-size: 1.833em
}

// Buttons
.btn-action {
  width: 239px;
  height: 52px;
  color: white;
  font-size: 1.417em;
  font-weight: bold;
  font-style: italic;
  text-transform: none;
  background: #7F8C8D;
  border-radius: 8px;
}

.footer {
  height: 95px;
  background: #BDC3C7;
  color: #465152;
  display: flex;
  align-items: center;
  justify-content: center;
}
